<!-- <div>
    <table>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
        </tr>
        <tr *ngFor='let item of dataList'>
            <td>{{item.FirstName}}</td>
            <td>{{item.LastName}}</td>
        </tr>
    </table>
</div> -->

<div>
    <table>

        <ng-container *ngFor="let item of dataList;let i = index">
            <tr *ngIf="i==0">
                <th>
                    {{getKeys(item.Employee)[0]}}
                </th>
                <th>
                    {{getKeys(item.Employee)[1]}}
                </th>
            </tr>
            <tr>
                <td>
                    {{item.Employee.Name.First}} {{item.Employee.Name.Last}}
                </td>
                <td>
                    {{getKeys(item.Employee.Address)[0]}} - {{item.Employee.Address.HouseNo}}, {{item.Employee.Address.State}}, {{item.Employee.Address.Country}}
                </td>
            </tr>
        </ng-container>

    </table>
</div>